@import '/home/yukio/.cache/wal/colors-waybar.css';

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 15px;
    padding: 1px;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
}

#workspaces button.active {
    color: @color6;
}

#custom-icon {
    padding-left: 0.3em;
    padding-right: 0.7em;
    color: @color6;
}

#power-profiles-daemon {
    padding-right: 0.6em;
    padding-left: 0.5em;
}

.modules-right *:not(#tray) {
    padding-right: 0.4em;
}
